* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

section {
    max-width: 1200px;
    margin: 0 auto;
}

h1,
h2,
h3,
p,
a,
div {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: 4.8rem;
    letter-spacing: 0.12rem;
    font-weight: 700;
    text-transform: uppercase;
}

h2 {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-size: 2.4rem;
    letter-spacing: 0.12rem;
    font-weight: 700;
}

p {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

a {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: 1.2rem;
    color: #000;
    font-weight: 400;
    text-decoration: none;
}



/****BETINGELSER*****/

#sectionwrapper h2 {
    display: flex;
    align-items: flex-start;
}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    line-height: 30px;
    padding: 15px 0 0 10px;


}

.header {
    display: flex;
    justify-content: center;
}

.order {
    display: flex;
    flex-direction: column;
}

.pay {
    display: flex;
    flex-direction: column;

}

.receipt {
    display: flex;
    flex-direction: column;

}

.price {
    display: flex;
    flex-direction: column;

}

.annuller {
    display: flex;
    flex-direction: column;

}

.ship {
    display: flex;
    flex-direction: column;

}

.return {
    display: flex;
    flex-direction: column;

}

.warranty {
    display: flex;
    flex-direction: column;
}
