/*---- Katja ---*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#about {
    display: block;
    flex-wrap: wrap;
    width: 200rem;
    height: 60rem;

}

#about .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    width: 55em;
    height: 15em;
}

.content {
    margin: 1em;
    padding: 1em;
}

h1,
h2 {
    font-family: sans-serif;
    font-size: 1px;
    margin: 0 0.5em 0;
}

p {
    font-family: sans-serif;
    margin: 0.8em;
    padding: 0.5em;
    width: 35vw;
    height: 5vw;
}

.video {
    display: block;
    width: 640px;
    height: 365px;
    background-color: lightskyblue;
    position: absolute;
    top: 20vw;
    right: 1vw;
}

/*---- Katja ---*/

/******** gennerelle indstillinger ********/

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

section {
    max-width: 1200px;
    margin: 0 auto;
}

h1,
h2,
h3,
p,
a,
div {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 6.4rem;
    letter-spacing: 0.12rem;
    font-weight: 800;
    text-transform: uppercase;
}

h2 {
    font-size: 3.2rem;
    letter-spacing: 0.12rem;
    font-weight: 800;
}

p {
    font-weight: 300;
    font-size: 1.6rem;
}

a {
    font-size: 1.3rem;
    color: #000;
    font-weight: 500;
}

/******** slut ********/

/******** #header ********/



/******** #header slut ********/

/******** #splash ********/



/******** #splash slut ********/

/******** #about ********/



/******** #about slut ********/

/******** #contact ********/



/******** #contact slut ********/

/******** #footer ********/



/******** #footer slut ********/
