/*---- Katja ---*/
#about {
    display: flex;
    flex-wrap: wrap;
    background-color: sandybrown;
    height: 1920
}

#about .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    background-color: pink;
    margin: 1rem;
    padding: 1rem;
}

.content {
    margin: 1em;
}

h1,
h2 {
    font-family: sans-serif;
    margin: 0.3em;
}

p {
    font-family: sans-serif;
    display: block;
    padding: 0.5em;
}

.video {}

/*---- Katja ---*/
