/*---- Katja ---*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#about {
    display: block;
    flex-wrap: wrap;
    width: 200rem;
    height: 60rem;

}

#about .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    width: 55em;
    height: 15em;
}

.content {
    margin: 1em;
    padding: 1em;
}

/*NAV MENU*/

/* unvisited link */
header nav a:link {
    color: black;
}

/* visited link */
header nav a:visited {
    color: black;
}

/* mouse over link */
header nav a:hover {
    color: grey;
}

/* selected link */
header nav a:active {
    color: black;
}

header {
    position: fixed;
    top: 0;
    background-color: whitesmoke;
    width: 100%;
}

header nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 1rem 1rem;
}

header nav a {
    font-size: 1.2rem;
    font-family: 'oswald', sans-serif;
    margin: 0.25rem 0;
    padding: 0.25rem 0;
}

@media only screen and (min-width:1000px) {
    header {
        background-color: whitesmoke;

    }

    header nav {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1.5rem;
    }

    header nav a {
        font-size: 2.0rem;
        margin: 0 5rem;
        padding: 0;

    }

    header nav a:last-child {
        border-right: none;
    }

    #styletile {
        padding-top: 2rem;
    }

    #styletile h1 {
        margin-bottom: 0;
    }
}

/*NAV MENU SLUT*/


h1,
h2 {
    font-family: sans-serif;
    font-size: 1px;
    margin: 0 0.5em 0;
}

p {
    font-family: sans-serif;
    margin: 0.8em;
    padding: 0.5em;
    width: 35vw;
    height: 5vw;
}

.video {
    display: block;
    width: 640px;
    height: 365px;
    background-color: whit;
    position: absolute;
    top: 20vw;
    right: 1vw;
}

/*---- Katja ---*/

/******** gennerelle indstillinger ********/

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

section {
    max-width: 1200px;
    margin: 0 auto;
}

h1,
h2,
h3,
p,
a,
div {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 4.8rem;
    letter-spacing: 0.12rem;
    font-weight: 800;
    text-transform: uppercase;
}

h2 {
    font-size: 2.4rem;
    letter-spacing: 0.12rem;
    font-weight: 800;
}

p {
    font-weight: 300;
    font-size: 1.2rem;
}

a {
    font-size: 1.2rem;
    color: #000;
    font-weight: 500;
    text-decoration: none;
}

/******** slut ********/

/******** #header ********/



/******** #header slut ********/

/******** #splash ********/



/******** #splash slut ********/

/******** #about ********/



/******** #about slut ********/

/******** #contact ********/

#contact {
    background-color: #f2f2f2;
    display: flex;
}

#contact h1 {
    text-align: center;
}

#contact .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 1;
}

#contact .box {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 20px;
    flex-grow: 1;
    flex-wrap: wrap;
}

#contact form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#contact input[type=text],
select,
input[type=email],
input[type=tel] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#contact input[type=submit] {
    width: 100%;
    background-color: #001dff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#contact input[type=submit]:hover {
    background-color: #001dff;
}

#contact .grid {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "addpng addcon addcon"
        "tlfpng tlfcon tlfcon"
        "mailpng mailcon mailcon"
        "some some some";

}

#contact .grid .add_con {
    grid-area: addcon;
}

#contact .grid .add_png {
    width: 8vw;
    height: 13vw;
    grid-area: addpng;
    display: flex;
}

#contact .add_png img {}

#contact .box .info {
    margin: 2vw 1vw;
}

#contact .grid .tlf_con {
    grid-area: tlfcon;
}

#contact .grid .tlf_png {
    width: 13vw;
    height: 13vw;
    grid-area: tlfpng;
}

#contact .grid .mail_con {
    grid-area: mailcon;
}

#contact .grid .mail_png {
    width: 13vw;
    height: 10vw;
    grid-area: mailpng;
}

#contact .grid .some {
    grid-area: some;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact .grid .some .icons {
    width: 13vw;
    height: 13vw;
    margin: 1vw 4vw;
}

/******** #contact slut ********/

/******** #footer ********/



/******** #footer slut ********/
